<!DOCTYPE html>
<body>
    <%= @team.name%>
    Team Motto: <%= @team.motto%>
    <% @heroes.each do |hero|%>
    Hero Name: <%= hero.name%>
    Hero Power: <%= hero.power%>
    Hero Biography: <%= hero.bio%>
    <%end%> 
</body>
</html>


